body {
    font-family: "Merriweather", serif;
}

*:lang(ja) {
    font-family: "Noto Serif JP", serif;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}

h5, .paragraph-msg {
    font-size: 1.25rem;
}

#bg-container {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#bg {
    align-items: center;
    background: url(img/chocostripe.png);
    background-repeat: repeat;
    background-size: auto;
    display: flex;
    height: 100%;
    justify-content: center;
}

#content {
    position: relative;
}

#init-page {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ie11-cover {
    background-color: aliceblue;
    transform: scale(0);
    -ms-transform: scale(1);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
}

#nojs-cover {
    animation: slowShow 0.5s normal forwards ease-in-out;
    animation-delay: 5s;
    background-color: rgb(253, 213, 220);
    border: 2px solid pink;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    left: 50%;
    opacity: 0;
    top: 2rem;
    transform: translatex(-50%);
    z-index: 999999;
}

@keyframes slowShow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#links-main {
    position: relative;
}

#links-main .bookend-bg {
    position: absolute;
    width: 100%;
    z-index: -2;
}

#links-main .bookend-bg:first-child {
    top: 0;
}

#links-main .bookend-bg:last-child {
    bottom: 0;
    transform: rotate(180deg);
}

.column {
    position: relative;
    z-index: 2;
}

.column > svg {
    /* tiny phones like SE */
    transform:translateY(-50px);
}

.full-scrn-center-align {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#main-page {
    position: relative;
}

#nplb, #bk-title {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 3;
}

#nplb > img {
    width: 20%;
}

#nplb > img:nth-child(1) {
    transform: rotate(10deg);
}
#nplb > img:nth-child(2) {
    transform: translateY(10px) rotate(3deg);
}

#nplb > img:nth-child(3) {
    transform: translateY(10px) rotate(-3deg);
}

#nplb > img:nth-child(4) {
    transform: rotate(-10deg);
}

#bk-title {
    align-items: center;
    flex-direction: column;
    left: 50%;
    text-shadow: 0 0 10px black;
    transform: translateX(-50%);
    top: 100px;
    width: 100%;
}

#bk-title > p {
    font-weight: 700;
    font-size: 22px;
}

#welcome-msg {
    bottom: 0px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -10px);
    z-index: 3;
}

body:not(.active) #welcome-msg {
    display: none;
}

.paragraph-msg {
    min-width: 300px;
}

#sidetile > p {
    display: none;
}

#scroll-arrow-hint {
    transform: scale(.65);
}

#scroll-arrow-hint span {
    display: block;
    width: 24px;
    height: 24px;
    border-bottom: 5px solid #ffbbd7;
    border-right: 5px solid #ffbbd7;
    transform: rotate(45deg);
    margin: -10px;
    animation: scrolldown 2s infinite;
}

#scroll-arrow-hint span:nth-child(2) {
    animation-delay: -0.2s;
}

#scroll-arrow-hint span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes scrolldown {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.sect-title {
    box-shadow: 5px 8px 20px -5px rgba(10, 10, 10, 0.75);
    border-color: #ffbbd7;
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 0.5rem;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 15vh;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}

.card > .berry {
    background: lightcoral;
    border: 3px solid indianred;
    border-radius: 5px;
    box-shadow: 0 2px 2px darkgrey;
    height:20px;
    width:30px;
    position: absolute;
    left: 70%;
    top:-6px;
}

.card > .berry:first-child {
    left: 20%;
}

.card > .berry:nth-child(2) {
    left: 50%;
    height:25px;
    width: 35px;
    transform: translateX(-50%);
}

#letter-msgs,
#artbook {
    padding: 1px;
}

#artbook {
    border-bottom: 5px solid rgb(64, 44, 44);
}

#letter-msgs > .card-columns {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7vh;
}

.letter-msg-card-container {
    margin-bottom: 10px;
}

.letter-msg-card {
    padding: 10px;
    box-shadow: 5px 8px 20px -5px rgba(10, 10, 10, 0.75);
    background: url(./img/cake.png);
    background-size: cover;
    background-origin: border-box;
    border: 0.6rem solid rgba(50,0,0,0.5);
}

.letter-msg-card.card {
    margin-bottom: 3.7rem;
}

.letter-msg p {
    white-space: pre-wrap;
}

blockquote > p {
    font-family: "Merriweather", serif;
}

.sender-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sender-name-container {
    flex: 1;
    min-width: 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.sender-name {
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.twitter-name {
    font-size: 1rem;
    font-style: italic;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.stamp-outer {
    height: 90px;
    position: relative;
    width: 90px;
    transform: translate(50%, -25%) rotate(10deg) scale(1.1);
}

.flag-icon {
    font-size: 2rem;
    margin: 4px;
    box-shadow: 0 0 3px rgb(100 100 100);
}

.color-flag {
    border: 20px solid transparent;
    border-left-color: mediumseagreen;
    height: 30px;
    position: absolute;
    transform: scaleX(2) translateX(30%);
    width: 40px;
    z-index: 9;
}

.letter-msg-card-container:nth-child(even) .color-flag {
    border-left-color: mediumslateblue;
}

.letter-msg-card-container:nth-child(3n) .color-flag {
    border-left-color: orangered;
}

.stick {
    width: 6px;
    height: 70%;
    position: absolute;
    background: brown;
    border: 1px solid firebrick;
    box-shadow: 0 0 3px rgb(100 100 100);
}

#artbook-gallery {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#artbook a {
    background-color: white;
    border: 9px solid rgb(250, 250, 250);
    box-shadow: 5px 8px 20px -5px rgba(10, 10, 10, 0.75);
    display: flex;
    align-items: center;
    margin: 0.5rem;
    margin-bottom: 3.7rem;
}

.placeholder {
    width: 100%;
    height: 8px;
    box-shadow: 0 0 25px #456692;
    margin-top: -8px;
}

#credits {
    color: rgb(131, 143, 155);
    column-count: 1;
    font-family: "Noto Serif JP", serif;
    padding: 15px;
    text-shadow: 0 0 18px #cad0ff;
}

#credits h4 {
    color: cornflowerblue;
}

#credits a,
#credits a:hover {
    color: rgb(131, 143, 155);
}

#credits p {
    margin-bottom: 0;
}

.credits-section {
    padding: 15px;
}

/* smallest */
@media (max-width: 450px) {
    h1 {
        font-size: 1.25rem;
    }
    h3 {
        font-size: 1.2rem;
    }

    #welcome-msg {
        font-size: 1.25rem;
    }
    .sender-name {
        font-size: 1rem;
    }
    .twitter-name {
        font-size: 0.8rem;
    }
    .letter-msg p {
        font-size: 0.95rem;
    }

    .sect-title-deco {
        height: 6rem;
        width: 4rem;
        bottom: -25px;
    }
}

@media (min-width: 450px) {
    #bk-title{
        top: 125px;
    }
    .column > svg {
        transform: translateY(0);
    }
    #letter-msgs .card-columns {
        column-count: 1;
    }
    .card > .berry {
        width: 50px;
    }
    .card > .berry:nth-child(2) {
        width: 60px;
    }
}

/* medium */
@media (min-width: 700px) {
    #credits {
        display: flex;
        flex-direction: row;
    }
    #nplb {
        transform: scale(0.9);
    }
    #bk-title{
        top: 18vw;
    }
    #welcome-msg {
        font-size: 2.5rem;
        left: 0;
        position: absolute;
        transform: translate(10vw, -10px);
    }
    #letter-msgs .card-columns {
        column-count: 2;
    }
    .card > .berry {
        width: 30px;
    }
    .card > .berry:nth-child(2) {
        width: 35px;
    }
}

@media (min-width: 1000px) {
    #bk-title{
        display: none;
    }
    #nplb {
        transform: translateY(-10%) scale(0.8);
    }
    #welcome-msg {
        font-size: 3rem;
    }

    #sidetile > p {
        display: block
    }

    #letter-msgs .card-columns {
        column-count: 3;
    }

    #credits .credits-column:first-of-type {
        margin-left: 5%;
    }

    #credits .credits-column:last-of-type {
        margin-right: 5%;
    }
}

/* lrg */
@media (min-width: 1200px) {
    #nplb {
        transform: translateY(-20%) scale(0.7);
    }
    .card > .berry {
        width: 50px;
    }
    .card > .berry:nth-child(2) {
        width: 60px;
    }
    .letter-msg-card {
        border-width: 1rem;
    }
}

@media (min-width: 1400px) {
}
